#!/usr/bin/env bash
# =============================================================================
# paths.config  - source of static paths
# =============================================================================
# Paths found
#	- ROOT paths (specific to local setup)
#	- Conda environments (created by env_install.sh)
#	- Containers (singularity container files)
#	- Shared databases (found in uconn hpc)
#	- Local databases (downloaded with conda tools)
# =============================================================================

# -----------------------------------------------------------------------------
# ROOTS
# -----------------------------------------------------------------------------
# Change these to your paths
# -----------------------------------------------------------------------------
PROJECT_ROOT="/path/EAGER_sequences"
CONDA_BASE="/path/miniforge3" # from conda_setup.sh
#------------------------------------------------------------------------------
TOOLS="${PROJECT_ROOT}/project_tools" # conda env root
SCRIPTS="${PROJECT_ROOT}/scripts"
CONTAINERS="${PROJECT_ROOT}/containers" # singularity files
DB_ROOT="${PROJECT_ROOT}/databases"  # local database
SHARED_DB_ROOT="/isg/shared/databases" # shared database
# project samples metadata
SAMPLES_CSV="${PROJECT_ROOT}/samples.csv"

# -----------------------------------------------------------------------------
# CONDA ENV
# -----------------------------------------------------------------------------
AMRFINDER_ENV="${TOOLS}/amrfinder_env" #amrfinderplus
ANALYSIS_ENV="${TOOLS}/analysis_env" # mmseqs2 hmmer diamond blast biopython mummer seqkit
ASSEMBLY_ENV="${TOOLS}/assembly_env" # unicycler flye dnaapler ragtag
BACPHLIP_ENV="${TOOLS}/bacphlip_env" # bacphlip (phage lifestyle prediction)
BAKTA_ENV="${TOOLS}/bakta_env" # bakta annotation
BTYPER_ENV="${TOOLS}/btyper3_env" # b cereus group taxonomy assignment
CHECKM2_ENV="${TOOLS}/checkm2_env" # contamination and completeness
FCS_GX_ENV="${TOOLS}/fcs_gx_env" # ncbi-fcs-gx (decontamination)
FETCH_ENV="${TOOLS}/fetch_env" # entrez-direct ncbi-datasets-cli sra-tools seqkit pigz
FINAL_QC_ENV="${TOOLS}/final_qc_env" # BUSCO (completeness), quast
GENOMAD_ENV="${TOOLS}/genomad_env" # prophage and viral contigs identification
HHSEARCH_ENV="${TOOLS}/hhsearch_env" # deep homology searches (HMMER-HMMER matching)
HYBRACTER_ENV="${TOOLS}/hybracter_env" # hybracter (nanopore/hybrid isolate qc, assembly, polishing)
METABOLISM_ENV="${TOOLS}/metabolism_env" # eggnog-mapper orthology assignments with KEGG/GO and KEGGaNOG for metabolic pathway visualization
MGE_ENV="${TOOLS}/mge_env" # integron finder and isescan
MOBSUITE_ENV="${TOOLS}/mobsuite_env" # mobsuite plasmid typing and reconstruction on fragmented assemblies
ORTHOFINDER_ENV="${TOOLS}/orthofinder_env" # comparative genomics by orthology
PHAGE_ENV="${TOOLS}/phage_env" # pharokka (virus annotation), checkv (virus completeness / contamination)
PHOLD_ENV="${TOOLS}/phold_env" # phold (virus structural annotation improvements using foldseek)
POLISH_ENV="${TOOLS}/polish_env" # polypolish, pypolca (illumina)
QC_ENV="${TOOLS}/qc_env" # fastp fastqc nanoq chopper filtlong porechop_abi minimap2 bwa-mem2 samtools seqkit
SUBMISSION_ENV="${TOOLS}/submission_env" # table2asn biopython seqkit csvtk gffread
TAXMYPHAGE_ENV="${TOOLS}/taxmyphage_env" # VIRIDIC formula based taxonomy assignment for viruses
TAXONOMY_ENV="${TOOLS}/taxonomy_env" # gtdbtk (R226 database) taxonomy assignment
VCONTACT3_ENV="${TOOLS}/vcontact3_env" # vcontact3 (viral taxonomy by proteomic clustering)

# -----------------------------------------------------------------------------
# CONTAINER TOOLS
# Requires module load singularity
# -----------------------------------------------------------------------------
FCS_ADAPTOR_SIF="${CONTAINERS}/fcs-adaptor.sif"
FCS_RUNNER="${CONTAINERS}/run_fcsadaptor.sh"
FCS_PY="${CONTAINERS}/fcs.py"

# -----------------------------------------------------------------------------
# LOCAL DATABASES
# databases.md for tool specific download info
# -----------------------------------------------------------------------------
PHAROKKA_DB="${DB_ROOT}/pharokka_db"
CHECKVDB="${DB_ROOT}/checkv_db/checkv-db-v1.5"
PHOLD_DB="${DB_ROOT}/phold_db"
CHECKM2_DB="${DB_ROOT}/checkm2_db/CheckM2_database/uniref100.KO.1.dmnd"
GENOMAD_DB="${DB_ROOT}/genomad_db"
AMRFINDER_DB="${DB_ROOT}/amrfinder_db/2026-05-15.1/"
MOBSUITE_DB="${DB_ROOT}/mobsuite_db"
TAXMYPHAGE_DB="${DB_ROOT}/taxmyphage_db"
HHPFAM_DB="${DB_ROOT}/hhsuite_db/PfamA_v38_2/pfama"
HHPHROG_DB="${DB_ROOT}/hhsuite_db/phrogs/phrogs_v4"
HHVIR_DB="${DB_ROOT}/hhsuite_db/uniprot_sprot_vir70/uniprot_sprot_vir70"
HHNCBICD_DB="${DB_ROOT}/hhsuite_db/NCBI_CD_v3.19/NCBI_CD"

# -----------------------------------------------------------------------------
# SHARED DATABASES
# managed by uconn cbc
# -----------------------------------------------------------------------------
GTDBTK_DATA="${SHARED_DB_ROOT}/gtdb/v226.0/release226/"
FCS_GX_DB="${SHARED_DB_ROOT}/fcs-gx/v2023.01.24"
BAKTA_DB="${SHARED_DB_ROOT}/bakta/v2025.02.24/db/"
EGGNOG_DB="${SHARED_DB_ROOT}/eggnog/v5.0.2/"

# =============================================================================
# END paths.config  -  no code below this line
# =============================================================================
