#!/usr/bin/env bash
# =============================================================================
# run.config
# =============================================================================
# Batch wide tool parameters
# =============================================================================

# -----------------------------------------------------------------------------
# ONT read filtering (chopper)
# -----------------------------------------------------------------------------
CHOPPER_MIN_QUALITY=7
CHOPPER_MIN_LENGTH=1000

#------------------------------------------------------------------------------
# Illumina read filtering (fastp)
# ----------------------------------------------------------------------------
FASTP_OPTS="--detect_adapter_for_pe --correction --cut_front --cut_tail --cut_window_size 4 --cut_mean_quality 20 --qualified_quality_phred 20 --length_required 15"


# ----------------------------------------------------------------------------
# Assembly contig filtering
# ---------------------------------------------------------------------------
# default min contig in quast is 500bp
# min contig allowed for NCBI deposit is 200bp and filtered out by fcs_gx
MIN_CONTIG_LENGTH=200

# =============================================================================
# END run.config - no code below this line
# =============================================================================
